build*
/nbproject/
*.bin
*.pyc
*.py[cod]
._*
.DS_Store
*~
.nfs*
*/.nfs*
*.bak
*.bk.py
Thumbs.db
*.orig
*.bck
*/#*.*#
.project
.pydevproject
*.rvpkg
/build
/docs/build
/.coverage
/.cache
/htmlcov
.idea
documentation/site
